* {
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(rgb(175, 224, 252)rgb(3, 157, 218)ow);
    overflow: hidden;
}

#ar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    
}

#control {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
button {
    outline: none;
    border: none;
    background-color: transparent;

}